body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 500px;
    position: relative;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.precio {
    font-weight: bold;
    color: #27ae60; 
}

.logo img {
    max-height: 50px;
}

.titulo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.banner {
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 10px;
}

.banner img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.boton {
    display: inline-block;
    background-color: #27ae60;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.producto .detalles {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.producto:target .detalles {
    display: block;
}

.boton-comprar {
    display: inline-block;
    background-color: #27ae60;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.detalles .cerrar {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}